.shopping-cart {
    max-width: 800px;
    margin: auto;
    padding: 20px;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .item-info span {
    display: block;
  }
  
  .item-controls input[type="number"] {
    width: 60px;
    margin-right: 10px;
  }
  
  .total {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    bottom: 20px
  }

  .checkout-button {
    display: block; /* Make the button block to occupy the full width if needed */
    width: 100%; /* Full width */
    padding: 10px; /* Padding for better touch */
    background-color: #0000FF; /* A nice green color */
    color: white; /* Text color */
    font-size: 16px; /* Slightly larger font */
    cursor: pointer; /* Cursor to pointer to indicate it's clickable */
    border: none; /* Remove border */
    border-radius: 5px; /* Rounded corners */
    margin-top: 10px; /* Space from the total */
}

.checkout-button:hover {
    background-color: #0000FF; /* Darker shade on hover */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.tooltip-active {
  display: block; /* Ensures the tooltip is shown */
  position: fixed; /* or 'absolute', depending on layout needs */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the tooltip */
  background-color: black; /* Tooltip background */
  color: white; /* Text color */
  padding: 10px;
  border-radius: 5px;
  z-index: 100; /* Ensure it's above other content */
}
